<div class="about-main">
  <h2>CircleInformationAppとは？</h2>
  <p>
    みなさんは入学当初、ビラを配られたことはありますか？<br>
    何十枚、何百枚と配られて、一枚一枚目を通すのがめんどくさい、、、<br><br>

    そんなあなたに！このアプリをお勧めします。<br><br>

    本アプリは任意のサークルの日時などをわかりやすくまとめたアプリとなっております！<br>
    それだけではなく、実際に入ってる人や辞めた人がコメントできるシステムを搭載しているので、<br>
    <b>何が不満で辞めたのかなど実際に入ってみないとわからない</b>、
    ということまでわかるようになってます！

  </p>
</div>